# List

In [1]:
grades=[90,80,70,60,50]

In [4]:
grades

[90, 80, 70, 60, 50]

In [5]:
grades.append(20)

In [6]:
grades

[90, 80, 70, 60, 50, 20]

In [7]:
grades.insert(0,100)

In [8]:
grades

[100, 90, 80, 70, 60, 50, 20]

In [9]:
grades[0]

100

In [10]:
grades.remove(50)

In [11]:
grades

[100, 90, 80, 70, 60, 20]

In [12]:
grades[1]=99

In [13]:
grades

[100, 99, 80, 70, 60, 20]

In [14]:
grades.sort()

In [15]:
grades

[20, 60, 70, 80, 99, 100]

In [16]:
grades.index(60)

1

In [17]:
grades.index(100)

5

# Tuples

In [18]:
gender=("Male","Female")

In [19]:
gender

('Male', 'Female')

In [20]:
gender[0]

'Male'

# Sets

In [21]:
fruits={"Orange","Apple"}

In [22]:
fruits

{'Apple', 'Orange'}

In [23]:
fruits.add("Banna")

In [24]:
fruits

{'Apple', 'Banna', 'Orange'}

In [25]:
fruits.add("Watermellon")

In [26]:
fruits

{'Apple', 'Banna', 'Orange', 'Watermellon'}

In [27]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [28]:
for fruit in fruits:
    print(fruit)

Banna
Orange
Watermellon
Apple

# Dictionary

In [29]:
student_dict={"name":"Eman","age":22,"Faculty":"CS"}

In [30]:
student_dict

{'name': 'Eman', 'age': 22, 'Faculty': 'CS'}

In [31]:
student_dict["name"]

'Eman'

In [32]:
student_dict["age"]

22

In [40]:
student_dict.update({"Faculty":"AI"})

In [41]:
student_dict

{'name': 'Eman', 'age': 22, 'Faculty': 'AI'}

In [35]:
students=[
          {"name":"Eman","age":22,"Faculty":"CS"},
          {"name":"ahmed","age":22,"Faculty":"CS"},
          {"name":"Sara","age":22,"Faculty":"CS"},
          {"name":"Fatma","age":22,"Faculty":"CS"}
         ]

In [53]:
name=input("Enter your name:")

Enter your name:Alaa

In [55]:
students.append({"name":name,"age":22,"Faculty":"CS"})

In [56]:
students

[{'name': 'Eman', 'age': 22, 'Faculty': 'CS'},
 {'name': 'ahmed', 'age': 22, 'Faculty': 'CS'},
 {'name': 'Sara', 'age': 22, 'Faculty': 'CS'},
 {'name': 'Fatma', 'age': 22, 'Faculty': 'CS'},
 {'name': 'Mohamed', 'age': 22, 'Faculty': 'CS'},
 {'name': 'Alaa', 'age': 22, 'Faculty': 'CS'},
 {'name': 'Alaa', 'age': 22, 'Faculty': 'CS'}]

In [57]:
import pandas as pd

In [58]:
df=pd.DataFrame(students)

In [59]:
df

      name  age Faculty
0     Eman   22      CS
1    ahmed   22      CS
2     Sara   22      CS
3    Fatma   22      CS
4  Mohamed   22      CS
5     Alaa   22      CS
6     Alaa   22      CS

In [60]:
df.to_excel('students.xlsx')

# Function

In [61]:
def sayHello(name):
    print("Hello,"+name)

In [63]:
sayHello("Ahmed")

Hello,Ahmed

In [64]:
sayHello("Fatma")

Hello,Fatma

In [65]:
sayHello("Sara")

Hello,Sara

In [66]:
sayHello("Eman")

Hello,Eman

`void sayhello(string name){
    cout<<"Hello,"<<name<<endl;
}`

In [67]:
def maxNumber(x,y):
    if x>y:
        return x
    else:
        return y

In [69]:
maxNumber(90,5)

90

In [70]:
def cal_age(birthdate):
    return 2022-birthdate

In [71]:
cal_age(1996)

26

In [72]:
def legal_to_join_fb(age):
    if(age>18):
        print("legal")
    else:
        print("Not Legal")

In [73]:
legal_to_join_fb(cal_age(1999))

legal

# Recurision

In [79]:
def loopRecursion(i):
    print(i)
    if i<=0:
        return 0
    else:
        loopRecursion(i-1)

In [80]:
loopRecursion(10)

10
9
8
7
6
5
4
3
2
1
0

In [84]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10